.resultPage {
    position: relative;
}

.searchAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBorder {
  border: 0.686747px solid #00000080;
  max-width: 628.37px;
  max-height: 57px;
  top: 40px;
  img {
    display: none;
  }
}
